<% include partial/header %>

<div id="container">
    <h1>TO-DO LIST<i class="fas fa-plus"></i></h1>
    <input type="text" placeholder="Add New Notes">
    <script>
        $("input[type='text']").on("keypress", function(event){
            if (event.which == "13") {
                var newList = $(this).val();
                $("ul").append("<li><span><i class='far fa-trash-alt'></i></span>" + newList + "</li>" );
            }
        });
    </script>  
    <ul>
        <li><span><i class="far fa-trash-alt"></i></span>1.dfhjsbjhbfsdhjb</li>
        <li><span><i class="far fa-trash-alt"></i></span>2.</li>
        <li><span><i class="far fa-trash-alt"></i></span>3.</li>
        <li><span><i class="far fa-trash-alt"></i></span>...</li>
    </ul>
    
</div>

<% include partial/footer %>