<!--include header template-->
<% include partial/header %>
<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if (thingVar.toLowerCase() == "rusty") { %>
    <p>Good Choice!</p>
<% }  else{ %>
    <p>Bad choice!! Unless you selet rusty!</p>
<% } %>


<p>This is from love.ejs</p>

<!--include footer template-->
<% include partial/footer %>
