<h1>Result Page</h1>

<ul>
    <% result["Search"].forEach(function(movie){ %>
    <li><%= movie["Title"]%> - <strong><%= movie["Year"] %></strong></li>
    <% })%>
</ul>


<a href="/">Search Again</a>